[mysqld]
report_host=mysql2.infra-mysql84
innodb_use_native_aio=0

mysql_native_password=ON
local_infile=ON

#binlog_format=ROW
binlog_checksum=NONE
binlog-row-image=MINIMAL
binlog-rows-query-log-events=ON

log-bin-trust-function-creators=TRUE
#expire-logs-days=90
max-binlog-size=1G
relay-log-recovery=ON

#replica-parallel-type=LOGICAL_CLOCK
replica-preserve-commit-order=ON
replica-parallel-workers=8
#replica-rows-search-algorithms='INDEX_SCAN,HASH_SCAN'
replica-type-conversions=ALL_NON_LOSSY

sync-source-info=1000
sync-relay-log=1000
bind_address=0.0.0.0

max_connections=500
#innodb_log_file_size=32M
innodb_redo_log_capacity=64M
innodb_buffer_pool_size=128M
innodb_flush_log_at_trx_commit=2
sync_binlog=0
server-id=222
gtid_mode=ON
enforce_gtid_consistency=true
log-bin
log-replica-updates
#relay_log_info_repository=TABLE
relay_log_recovery=ON
#source_info_repository=TABLE
read_only=1

log-error=/var/lib/mysql/error.log
#log_warnings=2

#ssl-ca=/var/lib/mysql/ca.pem
#ssl-cert=/var/lib/mysql/server-cert.pem
#ssl-key=/var/lib/mysql/server-key.pem
