[general]
server=127.0.0.1
port=6033
socket=/tmp/proxysql.sock

[mysql users]
vegaicm=password
root=


[tests]
connect.enabled=1
connect.wait_to_start=0
connect.threads=10
connect.loops=100

reconnect.enabled=1
reconnect.wait_to_start=5
reconnect.threads=64
reconnect.queries=1000
reconnect.slave_pct=60
reconnect.min_sleep=0
reconnect.max_sleep=2
reconnect.kill_interval=10

largepacket.enabled=1
largepacket.wait_to_start=0
largepacket.threads=10
largepacket.queries=1000
largepacket.min=100
largepacket.max=10000000


