[mysqld]
server_id = 5
innodb_file_per_table
innodb_flush_log_at_trx_commit=2
query_cache_size             = 0
sync_binlog                  = 0
log_bin
binlog_format                = MIXED
gtid_mode                    = ON
log-slave-updates
enforce-gtid-consistency
expire_logs_days             = 3
max_binlog_size              = 100M
bind_address                 = 0.0.0.0
max_connections              = 5000
skip_name_resolve

[mysqld_safe]
open_files_limit = 102400