[mysqld]
report_host=mysql1.infra-mysql56-single

bind-address=0.0.0.0
server-id=561
log-bin=mysql-bin
log-slave-updates
binlog_format=ROW
binlog_checksum=NONE
binlog-row-image=MINIMAL
gtid_mode=ON
enforce_gtid_consistency=true

log-bin-trust-function-creators=TRUE
expire-logs-days=90
max-binlog-size=1G
max_connections=500
innodb_log_file_size=32M
innodb_buffer_pool_size=128M
innodb_flush_log_at_trx_commit=2
sync_binlog=0
read_only=0

log_warnings=2
log_error=/var/log/mysql/mysql_error.log
general_log_file=/var/log/mysql/mysql.log
general_log=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=2
log_queries_not_using_indexes=1

socket=/var/lib/mysql/mysql.sock
pid-file=/var/lib/mysql/mysql.pid
datadir=/var/lib/mysql

ssl-ca=/var/lib/mysql/ca.pem
ssl-cert=/var/lib/mysql/server-cert.pem
ssl-key=/var/lib/mysql/server-key.pem
