[mysqld]

# ssl_cipher='DES-CBC3-SHA'
#ssl_cipher='DHE-RSA-AES128-GCM-SHA256:AES128-SHA'

binlog_format=ROW
binlog_checksum=CRC32
binlog-row-image=FULL
binlog-rows-query-log-events=ON

log-bin-trust-function-creators=TRUE
expire-logs-days=90
max-binlog-size=1G
relay-log-recovery=ON

slave-parallel-type=LOGICAL_CLOCK
slave-preserve-commit-order=ON
slave-parallel-workers=8
slave-rows-search-algorithms='INDEX_SCAN,HASH_SCAN'
slave-type-conversions=ALL_NON_LOSSY

sync-master-info=1000
sync-relay-log=1000

max_connections=500
innodb_log_file_size=512M
innodb_buffer_pool_size=256M
innodb_flush_log_at_trx_commit=2
sync_binlog=0
server-id=222
gtid_mode=ON
enforce_gtid_consistency=true
log-bin
log-slave-updates
relay_log_info_repository=TABLE
relay_log_recovery=ON
master_info_repository=TABLE
read_only=1
report_host=mysql2

log-error=/var/log/mysql/error.log
log_warnings=2
