#proxysql-admin credentials
export PROXYSQL_USERNAME="admin"
export PROXYSQL_PASSWORD="admin"
export PROXYSQL_HOSTNAME="localhost"
export PROXYSQL_PORT="6032"
export CLUSTER_USERNAME="admin"
export CLUSTER_PASSWORD="admin"
export CLUSTER_HOSTNAME="localhost"
export CLUSTER_PORT="3306"
export MONITOR_USERNAME="monitor"
export MONITOR_PASSWORD="monit0r"
export CLUSTER_APP_USERNAME="proxysql_user"
export CLUSTER_APP_PASSWORD="passw0rd"
export WRITE_HOSTGROUP_ID="10"
export READ_HOSTGROUP_ID="11"
export MODE="singlewrite"
