[Unit]
Description=High Performance Advanced Proxy for MySQL
After=network.target
ConditionPathIsDirectory=/var/lib/proxysql

[Service]
Type=simple
User=mysql
Group=mysql
PermissionsStartOnly=true
LimitNOFILE=102400
LimitCORE=1073741824
ExecStart=/usr/bin/proxysql -f
Restart=always

[Install]
WantedBy=multi-user.target
