[mysqld]
innodb_use_native_aio=0

mysql_native_password=ON

binlog_checksum=NONE
binlog-row-image=MINIMAL
binlog-rows-query-log-events=ON

log-bin-trust-function-creators=TRUE
max-binlog-size=1G
relay-log-recovery=ON

replica-preserve-commit-order=ON
replica-parallel-workers=8
replica-type-conversions=ALL_NON_LOSSY

sync-source-info=1000
sync-relay-log=1000
bind_address=0.0.0.0

max_connections=500
innodb_redo_log_capacity=64M
innodb_buffer_pool_size=128M
innodb_flush_log_at_trx_commit=2
sync_binlog=0
server-id=222
gtid_mode=ON
enforce_gtid_consistency=true
log-bin
log-replica-updates
relay_log_recovery=ON
read_only=1
report_host=mysql2
session_track_gtids=OWN_GTID

log_error_verbosity=2
log_error=/var/log/mysql/mysql_error.log
general_log_file=/var/log/mysql/mysql.log
general_log=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=2
log_queries_not_using_indexes=1

#ssl-ca=/var/lib/mysql/ca.pem
#ssl-cert=/var/lib/mysql/server-cert.pem
#ssl-key=/var/lib/mysql/server-key.pem
