# https://cloudinfrastructureservices.co.uk/setup-mariadb-replication/

[mariadb]

#bind-address            = 0.0.0.0

server-id              = 3
log_bin                = /var/log/mysql/mysql-bin.log
max_binlog_size        = 100M
relay_log = /var/log/mysql/mysql-relay-bin
relay_log_index = /var/log/mysql/mysql-relay-bin.index

log-error=/var/log/mysql/error.log
log_warnings=2

read_only=1

plugin_load_add = ha_blackhole
