# https://cloudinfrastructureservices.co.uk/setup-mariadb-replication/

[mariadb]
#bind-address            = 0.0.0.0

server-id              = 1
log_bin                = /var/log/mysql/mysql-bin.log
max_binlog_size        = 100M
relay_log = /var/log/mysql/mysql-relay-bin
relay_log_index = /var/log/mysql/mysql-relay-bin.index

log-error=/var/log/mysql/error.log
log_warnings=2

plugin_load_add = ha_blackhole


# https://mariadb.com/kb/en/certificate-creation-with-openssl/
# https://mariadb.com/kb/en/securing-connections-for-client-and-server/
#ssl_ca = /etc/mysql/conf.d/ca-cert.pem
#ssl_cert = /etc/mysql/conf.d/server-cert.pem
#ssl_key = /etc/mysql/conf.d/server-key.pem

# https://dmachard.github.io/posts/0056-mariadb-enable-tls/
#[mariadbd]
#ssl-ca = /etc/mysql/conf.d/ca-cert.pem
#ssl-cert = /etc/mysql/conf.d/server-cert.pem
#ssl-key = /etc/mysql/conf.d/server-key.pem

