name: CI-builds

on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ci_builds-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  builds:
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - dist: 'centos6'
            type: ''
          - dist: 'centos7'
            type: ''
          - dist: 'fedora37'
            type: '-clang'
          - dist: 'ubuntu20'
            type: '-clang'
          - dist: 'ubuntu22'
            type: '-tap'
    steps:

    - name: Cache check
      id: cache-check
      uses: actions/cache/restore@v3
      with:
        key: CI-builds_${{ github.sha }}_ubuntu22-tap
        lookup-only: true
        path: |
          proxysql/src/
          proxysql/test/
          proxysql/tap-matrix.*

    - name: Checkout repository
      if: ${{ steps.cache-check.outputs.cache-hit != 'true' }}
      uses: actions/checkout@v3
      with:
        repository: 'sysown/proxysql'
#        ref: 'v2.x'
        fetch-depth: 0
        path: 'proxysql'

    - name: Build
      id: build
      if: ${{ steps.cache-check.outputs.cache-hit != 'true' }}
      run: |
        cd proxysql/
        if [[ "${{ matrix.type }}" =~ "-tap" ]]; then
          # prebuild dependencies without debug
          sed -i "/command/c \    command: bash -l -c 'cd /opt/proxysql && make -j$(nproc) build_deps_clickhouse'" docker-compose.yml
          make ${{ matrix.dist }} | tee ../build-deps.log
          # build tap tests
          sed -i "s/^build_tap_test_debug: build_src_debug$/build_tap_test_debug: build_src_debug_clickhouse/" Makefile
          sed -i "/command/c \    command: bash -l -c 'cd /opt/proxysql && make -j$(nproc) build_tap_test_debug'" docker-compose.yml
          make ${{ matrix.dist }}-dbg | tee ../build-tap.log
          echo "[ "$(find test/tap/tests/ -type f -name '*-t' -executable -printf "'%f', ")" ]" > tap-matrix.json
          find test/tap/tests/ -type f -name '*-t' -executable -printf "%f\n" > tap-matrix.txt
        elif [[ "${{ matrix.type }}" =~ "-test" ]]; then
          TYPE=${{ matrix.type }}
          # build TYPE
          sed -i "/command/c \    command: bash -l -c 'cd /opt/proxysql && make -j$(nproc) ${TYPE#-}'" docker-compose.yml
          make ${{ matrix.dist }} | tee ../build.log
        else
          make ${{ matrix.dist }}${{ matrix.type }} | tee ../build.log
        fi

    - name: Check build
      if: ${{ steps.cache-check.outputs.cache-hit != 'true' }}
      run: |
        grep 'exited with code 0' build*.log || exit 1

    - name: Cache save
      id: cache-save
      if: ${{ success() && steps.cache-check.outputs.cache-hit != 'true' && matrix.type == '-tap' }}
      uses: actions/cache/save@v3
      with:
        key: CI-builds_${{ github.sha }}_${{ matrix.dist }}${{ matrix.type }}
        path: |
          proxysql/src/
          proxysql/test/
          proxysql/tap-matrix.*
          
