
name: CI-cb_taptests

on:
#  push:
#    branches: [ "v2.x" ]
#    paths-ignore:
#    - '.github/**'
#    - '**.md'
#  pull_request:
#    branches: [ "v2.x" ]
#    paths-ignore:
#    - '.github/**'
#    - '**.md'
#  schedule:
#    - cron: '15 13 * * 3'
  workflow_dispatch:

jobs:
  run:
    uses: sysown/proxysql/.github/workflows/ci-cb_taptests.yml@GH-Actions
    secrets: inherit
    
